* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    --claire-color: #a0cb23;
    --fonce-color: #14462d;
    --hot-color:  #da485b;
    --turq-color: #92ddd8 to #95dcd6;
    --orange-color: #fb9823 to #f58313;
    --vert-color: #afe223 to #a0cb23;
    --gris-color: #f6fafb;
}

body {
    font-family: 'roboto';
    margin-top: auto;
    background: url(/img/banner.jpg);
    background-position: end;
    background-repeat: no-repeat;

}

.flex {
    display: flex;
    
}
h3 {
    display: flex;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--claire-color);
}

h4 {
    display: flex;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.btn {
    margin: auto;
    font-size: 1.2em;
    padding: 0.7em;
    width: 10em;
}

#cours {
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 295px;
    margin-inline-end: 0px;
    text-align: center;
    color: white;
    background: var(--claire-color);
}

#savoir {
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 450px;
    text-align: center;
    color: white;
    background: var(--fonce-color);
}

#logo {
    margin-inline-start: 295px;
    margin-block-start: 1.5em;
}

#bg {
    position: absolute;
    background: fixed;
    margin-inline-start:-75px;
}

#groxi {
    text-align: center;
    margin-inline-start: 110px;
    margin-block-start: 3em;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
 
#bonjour {
    display: flex;
    flex-direction: column;
    margin-block-start: 5em;
    margin-block-end: 0.83em;
    margin-inline-start: 295px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 50px;

}

#bouton1 {
    display: flex;
    
}

.container-1 div{
    justify-content: space-between;
    margin-block-start: 380px;
    margin-block-end: 135px;
    margin-inline-start: 35px;
    display: flex;
    width: 350px;
    color: white;
    flex-wrap: nowrap;
    align-content: space-between;
    text-align: center;

}

#profite {
    margin-inline-start: 415px;
}
.container-1 div:first-of-type {
    background: #92ddd8 /*to #95dcd6*/;
}

.container-1 div:nth-child(2){
    background: #fb9823 /*to #f58313*/;
}

.container-1 div:last-of-type {
    background: #afe223 /*to #a0cb23*/;
}

h3, h4 {
    font-size: 20px;
}

p {
    margin-block-start: 45px;
    font-size: 20px;
    margin-inline-start: 30px;
}

#beaute {
    display: flex;
}

#vent {
    margin-inline-start: 733px;
    font-size: 33.5px;
    margin-block-end: 124px;
}

.container-2 {
    display: flex;
    background: var(--gris-color);
    justify-content: space-between;
    margin-inline : 484px;
    
}

h7 {
    color: var(--claire-color);
}

#ajouter {
    background: var(--fonce-color);
    color: white;
}

#ligne1 {
    align-self: center;
    justify-content: space-between;
    width: auto;
    display: flex;
}

.yellow {
    color: gold;
}

.grey {
    color: grey;
}

#hot {
    background: var(--hot-color);
    font-size: 15px;
}